{% extends "base.html" %}

{% block title %}Iniciar sesión{% endblock %}

{% block main %}


<div class="jumbotron">
    {% include 'includes/_messages.html' %}
    <div class="row justify-content-center">
        <div class="col-lg-5 mt-3 rounded">
            <h4 class="p-2">Ingresá tus datos</h4>
            <form action="" method="POST" class="p-3">
                <div class="form-group">
                    <input type="text" class="form-control form-control-lg rounded" placeholder="Email" name="email" pattern="[A-za-z0-9@.]{8,80}" value="{{request.form.email}}">
                </div>
                <div class="form-group input-group">
                    <input type="password" class="form-control form-control-lg rounded-0" placeholder="Contraseña" id="pass" name="contraseña" pattern="[A-za-z0-9.!#$%&'*+-|=?^-`{\}~]{8,20}" value="{{request.form.contraseña}}">
                    <div class="input-group-prepend">
                        <div class="input-group-text">
                            <a href="#" class="text-dark" id="icon-click">
                                <i class="far fa-eye" id="icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block btn-lg rounded-0">Iniciar sesión</button>
                </div>
            </form>
            <!--<label><a href="{{ url_for('recuperar_contraseña') }}">¿Olvidaste tu contraseña?</a></label>-->
        </div>
    </div>
</div>

<script src="../../static/js/jquery-3.5.1.js"></script>
<script type="text/javascript">
    $(document).ready(function(){
        
        $("#icon-click").click(function(){
            $("#icon").toggleClass('fa-eye-slash');
        
            var input = $("#pass");
            if(input.attr("type")==="password"){
                input.attr("type","text");
            }
            else{
                input.attr("type", "password");
            }
        });

    });
</script>

{% endblock %}